E7-EjemploJAXBServlet/esquemaClase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Clase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Alumno" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Alumno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Nombre" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Provincia" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Nombre" type="xs:string"/>
	<xs:element name="Provincia" type="xs:string"/>
</xs:schema>
